*,
*::before,
*::after {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html,
body {
	width: 100%;
	height: 100%;
}

html {
	scroll-behavior: smooth;
}

body {
	font-family: "Courier New", Courier, monospace;
	line-height: 1.6;
	text-transform: uppercase;
}

a {
	color: inherit;
	text-decoration: none;
}

.container {
	display: flex;
	margin-inline: auto;
	max-width: 1200px;
}

.product-card {
	width: 100%;
	height: 100%;
	display: flex;
	flex-direction: column;
	border: 1px solid #eee;
	overflow: hidden;
	text-align: center;

	.product-card__image-wrapper {
		display: flex;
		width: 100%;
		height: 100%;

		.product-card__image {
			width: 100%;
			height: 100%;
			object-fit: cover;
		}
	}

	.product-card__info {
		padding: 1rem;
		flex-grow: 1;
		display: flex;
		justify-content: space-between;
		align-items: center;
		gap: 1rem;

		.product-card__title {
			font-size: 1rem;
			font-weight: 500;
			margin: 0.5rem 0;
			white-space: nowrap;
			overflow: hidden;
			text-overflow: ellipsis;
		}

		.product-card__price {
			font-size: 1rem;
			color: #888;
		}
	}
}
