.product-card__carousel {
	position: relative;
	width: 100%;
	aspect-ratio: 9 / 16;

	/* Hover (Desktop/Cursor Devices) */
	&:hover .product-card__coverImage-wrapper {
		width: 0;
		height: 0;
		opacity: 0;
		z-index: -1;
		transition: opacity 0.5s ease, width 0s 0.5s, height 0s 0.5s;
	}

	&:hover .product-card__carousel-controls {
		visibility: visible;
		opacity: 1;
		transition: opacity 0.5s ease;
	}

	/* Tap-to-reveal (Touchscreen Devices) */
	&.show-controls .product-card__coverImage-wrapper {
		opacity: 0;
	}

	&.show-controls .product-card__carousel-controls {
		visibility: visible;
		opacity: 1;
	}

	.product-card__carousel-controls {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		display: flex;
		justify-content: space-between;
		align-items: center;
		padding: 1rem;
		visibility: hidden;
		opacity: 0;
		z-index: 2;

		.product-card__carousel-button {
			background: transparent;
			border: none;
			padding: 0;
			font-family: "Courier New", Courier, monospace;
			text-transform: uppercase;
			cursor: pointer;
		}
	}

	.product-card__image-carousel {
		position: relative;
		width: 100%;
		height: 100%;
		display: flex;
		overflow: hidden;
		cursor: pointer;

		.product-card__coverImage-wrapper {
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			z-index: 1;

			.product-card__coverImage {
				width: 100%;
				height: 100%;
				object-fit: cover;
				opacity: 1;
			}
		}

		.product-card__image-wrapper {
			position: relative;
			width: 100%;
			height: 100%;

			&::after {
				content: "";
				position: absolute;
				top: 0;
				left: 0;
				width: 100%;
				height: 100%;
				background: linear-gradient(
					to bottom,
					rgba(255, 255, 255, 0.4) 0%,
					rgba(0, 0, 0, 0) 10%,
					rgba(0, 0, 0, 0) 70%,
					rgba(255, 255, 255, 0.4) 100%
				);
				pointer-events: none;
			}

			.product-card__image {
				position: relative;
				width: 100%;
				height: 100%;
				display: flex;
				object-fit: cover;
			}
		}
	}

	.product-card__carousel-info {
		position: absolute;
		bottom: 0;
		left: 0;
		right: 0;
		display: flex;
		justify-content: space-between;
		align-items: center;
		gap: 1rem;
		padding: 1rem;
		z-index: 2;

		.product-card__carousel-title {
			font-size: 1rem;
			font-weight: 500;
			white-space: nowrap;
			overflow: hidden;
			text-overflow: ellipsis;
		}

		.product-card__carousel-price {
			color: green;
		}
	}
}
